body {
    margin-left: 0px;
    margin-right: 0px;
    font-family: "Times New Roman", serif;
}

.ql-container.ql-snow {
    border: 0px;
    font-family: "Times New Roman", serif;
    font-size: 15px;
}
